<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
<!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% for j in js %}
            <script type="text/javascript" src="{{j}}" ></script>
        {% endfor %}
        {% for j in js_external %}
            <script type="text/javascript" src="{{j}}" async defer></script>
        {% endfor %}
        {% for j in js_code %}
            <script type="text/javascript"  >{{j|safe}}</script>
        {% endfor %}
        {% for c in css %}
            <link media="screen"  rel="stylesheet" type="text/css" href="{{c}}" />
        {% endfor %}
        {% for c in css_code %}
            <style>{{c|safe}}</style>
        {% endfor %}
        {% if bandeau_growl_bool %}
        <script>
        jQuery(document).ready(function(){
            jQuery.growl({
                title: "{{_("Message")}}",
                message: "{{bandeau_growl | safe}}",
                static: true,
                location: 'tr',
            });
        });
        </script>
        {% endif %}
    </head>

    <body>
    <header>
            {% block header %}
            {{header | safe}}
            {{menu | safe}}
            {% endblock %}
            {% if cur_user.id > 0 %}
            Logged as: {{ cur_user.login}}
            {{header_management | safe}}
            {% endif %}
            <div id='bandeau'>{{bandeau | safe}}</div>
            <div id='cookie'>{{cookie_msg | safe}}</div>
            {% if breadcrumbs %}
            <div class='breadcrumbs flat'>
            {% for i in breadcrumbs %}
            {{i|safe}}
            {% endfor %}
            </div>
            {% endif %}
        </header>
    <h1>No controller</h1>
    <section>{{main}}</section>
    </table>
    </body>
</html>