{% extends "base.html" %}

{{ block.super }}

{% block main %}
{% if edit_mode %}
<form enctype="multipart/form-data" id="edit_user" method="post" action="user">
    <input type="hidden" name="action" value="update"/>
    <input type="hidden" name="id" id="id" value="{{user.md5}}"/>
    <input type="hidden" name="MAX_FILE_SIZE" value="{{conf.max_avatar_size}}" />

    <table width=100% CELLPADDING=10>
        <thead>
           <tr>
                {% if cur_user.id == user.id %}
                <th colspan=3>{{_("Ma fiche")}}</td>
                {% else %}
                <th colspan=3>{{_("Fiche de")}}{{user.name}} {{user.firstname}}</td>
                {%endif%}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{_("Nom")}}</td>
                <td colspan=2><input name="name" id="name" value="{{user.name}}"/></td>
            </tr>
            <tr>
                <td>{{_("Prénom")}}</td>
                <td colspan=2><input name="firstname" id="firstname" value="{{user.firstname}}"/></td>
            </tr>
            <tr>
                <td>{{_("Login")}}</td>
                <td colspan=2><input  name="login" id="login" value="{{user.login}}"/></td>
            </tr>
            <tr>
                <td>{{_("email")}}</td>
                <td colspan=2><input name="email" id="email" value="{{user.email}}"/></td>
            </tr>
            <tr>
                <td>{{_("Password")}}</td>
                <td width=150><input class="password" type="password" name="password" id="password" value=""/></td>
                <td><div id='passmeter' style='display:none' class="password-meter">
                       <div class="password-meter-message">&nbsp;</div>
                       <div class="password-meter-bg">
                            <div class="password-meter-bar"></div>
                       </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{_("Password")}} (2)</td>
                <td colspan=2><input type="password" name="password_again" id="password_again" value=""/></td>
            </tr>
            <tr>
                <td>{{_("Profil public")}}</td>
                <td colspan=2>
                    <select  name="public_profile" id="public_profile">
                        {% if user.public_profile == 0 %}
                        <option SELECTED value="0">{{_("Privé")}}</option>
                        {%else%}
                        <option value="0">Privé</option>
                        {%endif%}
                        {% if user.public_profile == 1 %}
                        <option SELECTED value="1">{{_("Public")}}</option>
                        {%else%}
                        <option value="1">{{_("Public")}}</option>
                        {%endif%}
                        {% if user.public_profile == 2 %}
                        <option SELECTED value="2">{{_("Visible pour les membres des groupes auxquels j'appartiens")}}</option>
                        {%else%}
                        <option value="2">{{_("Visible pour les membres des groupes auxquels j'appartiens")}}</option>
                        {%endif%}
                    </select>
                 </td>
            </tr>

            <tr>
                <td>{{_("Avatar")}}</td>
                <td colspan=2><input type='file' name="avatar_path" id="avatar_path" /></td>
            </tr>
            <tr>
                <td>{{_("Description")}}</td>
                <td colspan=2><textarea name="description" id="description">{{user.description | safe}}</textarea></td>
            </tr>
        </tbody>
        <tfoot>
            {%if captcha_bool%}
            <tr>
                <td>{{_("Captcha")}}</td>
                <td colspan="2"><div class="g-recaptcha" data-sitekey="{{conf.reCaptcha_key}}"></div></td>
            </tr>
            {%endif%}
            <tr>
                <td colspan="3"><button>{{_("Sauvegarder")}}</button></td>
            </tr>
        </tfoot>
    </table>
</form>
{%else%}
<table width=100% CELLPADDING=10>
    <thead>
       <tr>
            {% if cur_user.id == user.id %}
            <th colspan=2>{{_("Ma fiche")}}</td>
            {% else %}
            <th colspan=2>{{_("Fiche de")}} {{user.name}} {{user.firstname}}</td>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{_("Nom")}}</td>
            <td>{{user.name}}</td>
        </tr>
        <tr>
            <td>{{_("Prénom")}}</td>
            <td>{{user.firstname}}</td>
        </tr>
        <tr>
            <td>{{_("Login")}}</td>
            <td>{{user.login}}</td>
        </tr>
        <tr>
            <td>{{_("Email")}}</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>{{_("Avatar")}}</td>
            <td><img height=64 src="{{conf.main_url_root}}/{{user.avatar_path}}"/></td>
        </tr>
        <tr>
            <td>{{_("Description")}}</td>
            <td>{{user.description | safe}}</td>
        </tr>

    </tbody>
    <tfoot>
    {%if editable%}
    <tr><td colspan=2><button onclick="location.href='user?action=edit&id={{user.md5}}'">{{_("Editer")}}</button></td></tr>
    {%endif%}
    </tfoot>
</table>
{%endif%}

{% endblock %}