{% extends "base.html" %}

{{ block.super }}

{% block leftmenu %}
{{leftmenu | safe}}
{% endblock %}

{% block main %}
<p>{{main | safe}}</p>
<div class="select-wrapper grid">
    <div class="select col1-2">{{ _("Select page") }}</div>
    <div class="select-select col2-2">
        <select id="allpages" name="allpages">
            <option value="0">{{ _("Select->")}}</option>
        {{allpages | safe}}
        </select>
    </div>
</div>
<div id="toReplace"></div>
{% endblock %}
{% block subpage %}
{% endblock %}