@CHARSET "UTF-8";

table .background-td-even {
    background-color: #FFFFFF;
}

table .background-td-odd {
    background-color: #f8f8f8;
}
.main-block table {
    border: 1px Solid #dfdfdf;
}
.main-block table td {
    border: 1px Solid #dfdfdf;
}
.main-block table th {
    border: 1px Solid #dfdfdf;
}
